@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Farro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/1910225/pexels-photo-1910225.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    font-size: 40px;
    object-fit:contain;
    background-position: center;
    background-size: 100%;
}

h1{
    font-size:60px;
    margin: 100px;
    background-color:#ABCBD9;
    border-radius: 50px;
    padding: 20px
}

input{
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    background-color: #E9FFA3;
}

.form{
    display: flex;
    flex-direction: row;
    background-color: #F59FA3; 
    border-radius: 20px;
}

.box{
    display: flex;
    flex-direction:column;
    margin: 20px;
}
